body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  width: 90%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgb(253, 251, 251);
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.box h1 {
  margin: 0;
  font-size: 24px;
  color: black;
}

.box p {
  margin: 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
