@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@100&display=swap");
@import "./reset.css";
@import "./colors.css";
@import "./header.css";
@import "./buttons.css";
@import "./main.css";
@import "./product-card.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* 
    Padarīt header elementu adaptīvu ekrāna platumam, iekš header.css faila veikt izmaiņas:

    1. Sākot no 1200px ekrāna platuma #header elementa height ir 80px. 
       Uz mazākiem ekrāna izmēriem tas ir 65px.

    2. Sākot no 1200px ekrāna platuma #subtitle elements ir redzams - display: none;
       Uz mazākiem ekrāna izmēriem tas ir paslēpts - display: none;

    Mainīt main elementa padding, iekš main.css faila veikt izmaiņas:
       
    3. Sākot no 1200px ekrāna platuma main elementa padding ir 80px 0 0;
       Uz mazākiem ekrāniem padding ir 50px 0 0;

    Mainīt .product-card elementu platumu, iekš product-card.css veikt izmaiņas:
       
    4. Sākot no 1200px ekrāna platuma .product-card elementu width ir calc(25% - 30px);
       Ekrāna izmērā starp 768px un 1200px .product-card elementu witdh ir calc(50% - 30px);
       Uz mazākiem ekrāna izmēriem .product-card elementu width ir 100%;
*/
