/* Color Variables */
$orange: #fa4a0c;
$white: #ffffff;
$black: #000000;
$darkblue: #252b42;
$lightgrey: #e4e4e4;
$darkgrey: #737373;
$darkergrey: #373a47;
$darkestgrey: rgba(0, 0, 0, 0.3);
$btnshadow: rgba(0, 0, 0, 0.07);
$mobilebg: #252b42;
$mobiletext: #bdbdbd;
$footertext: #5c5c5c;
$herobg: #fafafa;
