@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  /*Colors*/
}

h1,
.headline {
  font-family: "Poppins";
}
