footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 1rem 4rem;
  background-color: var(--white);
}

.footer__logo {
  height: 60px;
  width: auto;
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__social a {
  color: var(--primary);
  text-decoration: none;
  margin-right: 1rem;
  font-size: 40px;
  transition: color 0.3s ease-in-out;
}

.footer__social a:hover {
  color: var(--secondary);
}

.footer__desktop {
  color: var(--secondary);
  margin-right: 10px;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 18px;
}

.footer__mobile {
  color: var(--secondary);
}

@media only screen and (max-width: 768px) {
  .footer__mobile {
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.1px;
  }

  .linkedin {
    display: inline-block;
  }
  .footer {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__logo {
    display: none;
  }
}
