.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 155px;
  width: 100%;
  padding: 0 75px;
  background-color: var(--white);
  z-index: 50;
}

.logo {
  width: 205px;
  /* top: 26px; */
  /* left: 70px; */
}

.header_navigation {
  font-size: 21px;
  /* top: 78px; */
  /* right: 25px; */
}

.header_link {
  padding: 20px;
  text-decoration: none;
}

.header_link:focus {
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .header_navigation {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header_navigation {
    display: none;
  }

  .logo {
    position: fixed;
    height: 51.37px;
  }
}
