.not-found {
  text-align: center;
  font-size: 32px;
  font-weight: bold;

  background-color: var(--grey-bg);
  color: var(--white);
  width: 100vw;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
