main {
  width: 100%;
  height: 100vh;
  padding: 5rem 0 0;
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  min-height: 580px;
  gap: 30px;
  padding: 50px;
}

@media only screen and (min-width: 1200px) {
  main {
    padding: 80px 0 0;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    padding: 50px 0 0;
  }
}

/* 

    Mainīt main elementa padding, iekš main.css faila veikt izmaiņas:
       
    3. Sākot no 1200px ekrāna platuma main elementa padding ir 80px 0 0;
       Uz mazākiem ekrāniem padding ir 50px 0 0;

*/
