.download-app {
  background-color: var(--darkblue);
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 50px 0;

  text-align: center;
  color: var(--white);

  box-sizing: border-box;

  .hero-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    max-width: 310px;
    height: 114px;

    margin: 17px 0 27px 0;
  }

  p.hero-text {
    margin: 0 0 40px 0;
    max-width: 305px;
    font-size: 1.45rem;
    line-height: 2.25rem;
    font-weight: 500;
    color: #bdbdbd;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 30px 0 0 0;
  }

  /* Modifications to Button component */

  .btn-primary,
  .btn-secondary {
    font-size: 1rem;
    width: fit-content;
    min-width: 155px;
    margin: 8px 10px;
    line-height: 1.25rem;
  }

  .btn-secondary {
    color: var(--white);
    border: 2px solid var(--white);

    &:hover,
    &:focus,
    &:active {
      color: var(--orange);
      background-color: var(--white);
      border: 2px solid var(--white);
    }
  }
}

/* Styles for Desktop */

@media only screen and (min-width: 768px) {
  .download-app {
    background: url("../../assets/download-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 509px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 73px 0;

    .hero-title {
      line-height: 3.5rem;
      font-weight: 700;
      max-width: 503px;
      height: 57px;

      margin: 17px 0 27px 0;
      color: var(--white);
    }

    p.hero-text {
      margin: 0;
      max-width: 90%;

      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: #f6f6f6;
    }

    /* Modifications to Button component */

    .buttons {
      margin: 30px 0 0 0;
    }
  }
}
