/* mobile layout*/
@media screen and (min-width: 380px){

  main {
    display:flex;
    flex-direction: column;
  }

  .container {
    padding-left:0;
  }
  .card {
    background-color:var(--white);
    box-shadow: 0px 5px 15px 5px #f1f1f1;
    border-radius:8px;
    margin: 20px;
    margin-bottom:40px;
    text-align: center;

  }

  .card:hover {
    background-color:var(--grey);
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
  }

  
  .card h4, p {
    color:var(--black)

  }

  .card p {
    padding-bottom:15px;
  }
  
  .card img {
      width:100%;
      height: 50%;
      object-fit: cover;
  }
  }
  
  /* tablet layout*/
  @media screen and (min-width: 768px) and (max-width: 1200px){

    .container {
      display:flex;
      justify-content: center;
      flex-wrap:wrap;
      flex-direction: row;
    }
    
    .card {
      width: calc(40% - 30px);
      height:50%;
    }
    .card h4,p{
      padding:.5rem;

    }
  }
  
  /* desktop layout*/
  @media screen and (min-width: 1200px){
   
    .container {
        max-width: 1400px;
        display:flex;
        flex-direction: row;
    }
    .card {
      width: calc(25% - 30px);
      height:50%;
      border-radius:8px;
      

    }
    
    .card h4, p {
      color:var(--black)

    }
    .card img {
      width:100%;
        height: 50%;
        object-fit: cover;
    }
  }