/* NAVIGATION for Mobile screen */
.navigation {
  .navigation-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    line-height: 3;
  }

  &--mobile {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    margin: 0;
    padding: 120px 0;
    color: whitesmoke;
    background-color: rgba(250, 74, 12, 0.95);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 2;

    &.active {
      transform: translateX(0%);
    }

    .navigation-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}

/* Style for full open menu on mobile screen */
// .navigation-list {
//  display: none;

//  @media (max-width: 1200px) {
//   display: block;
//  }
// }

.nav-item {
  color: var(--whitesmoke);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: var(--darkblue);
    font-weight: 600;
  }
}

.menu {
  display: block;
  float: right;
  margin-right: 25px;
}

.close {
  display: none;
}

.navigation-list {
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  line-height: 3;
}

.nav-item {
  font-weight: 500;
  color: var(--whitesmoke);
}

.close {
  display: block;
  position: fixed;
  right: 25px;
  top: 20px;
  z-index: 99;
}

.menu {
  //  display: none;
}

/* Style for Desktop */

@media only screen and (min-width: 768px) {
  .navigation {
    width: 30%;
    margin: 0 50px;
  }

  .navigation-list {
    //   display: flex;
    justify-content: space-between;
    //   align-items: center;
    //   list-style-type: none;
  }

  .nav-item {
    color: var(--darkblue);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;

    &:hover,
    &:active,
    &:focus {
      color: var(--orange);
    }
  }

  .menu,
  .close {
    display: none;
  }
}
