.loader {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  animation: rotate 1s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(-100px);
  }
}
