@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Roboto:wght@700&display=swap");
@import "../style/reset.css";
@import "../style/colors.css";

#root {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}
