@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Roboto:wght@700&display=swap");
@import "../style/reset.css";

#root {
  /* max-width: 1440px; */
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}
*/ * {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  /* max-width: 1440px; */
}
