* {
    text-decoration: none;
}

.navbar {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    width: 100%;
    height: 50px;
    padding-right: 120px;
    padding-left: 150px;
    padding-top: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.logo a {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}