/* HEADER - style for Mobile */

.header {
  /* position: fixed; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 111px;
  box-sizing: border-box;
}

/* Logo */

.logo {
  width: 104px;
  height: auto;
  margin-left: 6%;
}

/* Navigation */

.navigation {
  margin: 0 25px;
  width: 0%;
}

.navigation-list {
  display: none;
}

.navigation-item {
  font-weight: 600;
  text-decoration: none;
}

.navigation-item li {
  color: var(--whitesmoke);
  font-weight: 500;
}

.menu {
  display: block;
  float: right;
}

.close {
  display: none;
}

/* Style for full open menu on mobile screen */

.navigation.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  margin: 0;
  padding: 70px 0;
  color: var(--whitesmoke);
  background-color: rgba(250, 74, 12, 0.75);
  transition: width 0.3s ease-in-out;
}

.navigation-list.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3;
}

.navigation-item.active {
  font-weight: 500;
  color: var(--whitesmoke);
}

.close.active {
  display: block;
  position: fixed;
  right: 25px;
  top: 40px;
  z-index: 99;
}

.menu.active {
  display: none;
}

/* Style for Desktop */

@media only screen and (min-width: 768px) {
  .header {
    height: 155px;
  }

  .logo {
    width: 206px;
    margin-left: 6.25%;
  }

  .navigation {
    width: 35%;
    margin: 0 50px;
  }

  .navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }

  .navigation-item li {
    color: var(--darkblue);
    font-weight: 600;
  }

  .navigation-item li:hover,
  .navigation-item li:active,
  .navigation-item li:focus {
    color: var(--orange);
    font-weight: 600;
  }

  .menu,
  .close {
    display: none;
  }
}
