.social-grid {
    width: 70%;
    margin: 0 auto;
}

.social-grid__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.social-grid__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}