/* Style for Mobile */

.footer {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 130px;
  box-sizing: border-box;
}

/* Logo */

footer .logo {
  width: 246px;
  height: auto;
  margin-left: 0;
}

.media-icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
  margin: 0 0 12px 0;
}

.media-icon {
  height: 32px;
  width: auto;
}

.copyright {
  color: var(--darkgrey);
  font-size: 0.75rem;
  font-weight: 700;
}

footer .desktop-only {
  display: none;
}

/* Style for Desktop */

@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 155px;
  }

  footer .logo {
    width: 206px;
  }

  footer .desktop-only {
    display: block;
  }

  footer .mobile-only {
    display: none;
  }
}
