.comment-card {
    font-size: 18px;;
    padding: 20px;
    border: 2px solid var(--black);
    border-radius: 4px;
}

.comment-card__title {
    font-weight: 700;
    margin-bottom: 10px;
}

.comment-card__text {
    font-weight: 300;
    margin-bottom: 5px;
}