:root {
  --orange: #fa4a0c;
  --white: #ffffff;
  --darkblue: #252b42;
  --darkgrey: #5c5c5c;
  --lightgrey: #737373;

  /* button hover */
  --darkorange: #db4008;
  --whitesmoke: var(--whitesmoke);
}
