:root {
  --orange: #fa4a0c;
  --red: #e70a05;
  --white: #ffffff;
  --darkblue: #252b42;
  --darkgrey: #5c5c5c;
  --lightgrey: #737373;

  /* button hover */
  --darkorange: #db4008;
  --whitesmoke: whitesmoke;

  /* Not found page */
  --grey-bg: rgb(209, 209, 209);
}
