.post-card {
    font-size: 18px;;
    padding: 20px;
    border: 2px solid var(--black);
    border-radius: 4px;
}

.post-card__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.post-card__text {
    text-align: justify;
}