.dog-selector {
    width: 50%;
    margin: 0 auto;
}



#dogSelector {
    width: 90%;
    margin: 0 auto;
}

.dog-image {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 40%;
}

/* Desktop styles */
@media (min-width: 600px) {
    #dogSelector {
      width: 200px;
    }

    .dog-image {
      max-width: 70%;
    }
  }