.product-feature {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100vw;
  margin-top: 65px;
}

.feature-image {
  width: 80%;
  margin-bottom: 20px;

  /* Product image placeholders until correct images are available */
  border: 2px solid blue;
  border-radius: 15px;
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 397px;
}

.pre-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #fa4a0c;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: #252b42;
  margin: 40px 0 50px;

  max-width: 337px;
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.3rem;
  color: #737373;
  max-width: 257px;
}

@media only screen and (min-width: 768px) {
  .product-feature {
    flex-direction: row;
    justify-content: center;
    column-gap: 9%;
  }

  .feature-image {
    max-width: 269px;
    margin-bottom: 0;
  }

  .feature-content {
    align-items: flex-start;
    text-align: left;
    max-width: 561px;
  }
  .title {
    max-width: 555px;
    margin: 17px 0 27px;
  }
  .text {
    max-width: 467px;
  }
}
