@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.contact {
  height: 100vh;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 150px;
  font-family: "Montserrat", sans-serif;
}
