@use "../../_variables.scss";
@use "../../_mixins.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

.HeaderWrapper {
  width: 100%;
  position: fixed;
  background-color: variables.$white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  z-index: 1;
}

.Logo {
  width: 120px;
}
nav a {
  display: none;
}

@include for-size(tablet) {
  .HeaderWrapper {
    width: 1440px;
    margin: 0;
  }
  .Logo {
    width: 200px;
  }
  nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: variables.$darkblue;
    padding: 0 4rem;
  }
  nav a:hover {
    color: variables.$orange;
    transition: color 0.3s ease-in-out;
  }
}
