.user-card {
    font-size: 18px;;
    padding: 20px;
    border: 2px solid var(--black);
    border-radius: 4px;
}

.user-card__name {
    font-weight: 700;
    margin-bottom: 10px;
}

.user-card__list-item {
    font-weight: 300;
    margin-bottom: 10px;
}