.header {
    position: fixed;
    height: 112px;
    background-color: var(--white);
    z-index: 9999;
    width:100%;
    top:0;
}

.header__logo {
    width: 104px;
    height: 51px;
    top: 17px;
    left: 25px;
    position: fixed;
}

.header__textMenu {
    display: flex;
    visibility:hidden;
    font-size: 16px;
    position: fixed;
    right:50px;
    top: 64px;
    gap: 114px;
}

.header__link {
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.2px;
    line-height: 28px;
    color:var(--darkblue);
}

.header__link.active {
    color:var(--primary);
}

@media only screen and (min-width:768px) {
    .header {
        height: 155px;
    }

    .header__logo {
        width: 206px;
        height: 102px;
    }
}

@media only screen and (min-width:1200px) {    
    .header__textMenu {
        visibility:visible;
    }
}