.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: var(--white);
  background-image: url("../src/assets/hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  text-align: center;
}

.hero__title {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "Montserrat";
}

.hero__description {
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 2rem;
  font-family: "Montserrat";
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero__button {
  z-index: 1;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  width: 9rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.hero__button:hover {
  background-color: lightblue;
}

.hero__button2 {
  z-index: 1;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  width: 9rem;
  color: var(--white);
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.hero__button2:hover {
  background-color: lightblue;
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: none;
    background-color: var(--white);
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
  }

  .hero__buttons {
    flex-direction: column;
  }

  .hero__description {
    color: rgba(115, 115, 115, 1);
  }

  .hero__title {
    color: rgba(37, 43, 66, 1);
  }

  .hero__button2 {
    border-color: orange;
    color: orange;
  }
}

@media only screen and (max-width: 768px) {
  .hero-block {
    background-image: none;
  }
  .hero-block__content {
    color: var(--black);
  }
  .hero-block__buttons {
    flex-direction: column;
    margin-bottom: 100px;
    align-self: center;
  }

  .hero__button {
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.07);
  }
}
