@import url("https://fonts.googleapis.com/css2?family=Allura&family=Shadows+Into+Light+Two&display=swap");
@import "./reset.css";
@import "./colors.css";
@import "./header.css";
@import "./main.css";

html {
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--secondary);
}

body {
  font-family: "Shadows Into Light Two", normal;
}
