.main-nav-btn {
    display: inline;
    float: right;
    margin: -20px 20px 0px 0px;
    padding: 0;
}

.btn-primary {
    margin: 15px 0px 0px 15px;
    border: 0px solid var(--secondary);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    width: 100px;
    height: 40px;
    padding: 0;
}

.btn-primary:hover {
        border: 1px solid var(--secondary);
        background-color: var(--black);
        color: var(--white);
        transition: all 1s;
}

.btn-secondary {
    display: block;
    margin: 15px 0px 0px 40px;
    border: 0px;
    border-bottom: 1px solid var(--secondary);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    width: 100px;
    height: 40px;
    padding: 0;
}

.btn-light {
    opacity: 0.5;
    border-bottom: 0px solid var(--secondary);
}

.btn-secondary:hover {
    background-color: var(--black);
    color: var(--white);
    transition: all 1s;
    opacity: 1;
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .main-nav-btn {
        margin: 10px 20px 0px 0px;
    }
}

@media only screen and (max-width: 700px) {
    .main-nav-btn {
        display: inline;
        float: left;
        margin: 7px 7px;
}
}