.hero {
  background-color: #fafafa;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 50px 0;
  min-height: 778px;

  color: #252b42;
  text-align: center;

  border: 2px solid green;
  box-sizing: border-box;
}

h1.hero-title {
  font-size: 2.15rem;
  line-height: 2.6rem;
  font-weight: 700;
  max-width: 937px;
  height: 128px;

  margin: 17px 0 27px 0;
}

h3.hero-title {
  margin: 0;
  height: 24px;

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #737373;
}

p.hero-text {
  margin: 0 0 50px 0;
  height: 76px;

  font-size: 1.45rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #737373;
}

.buttons {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .hero {
    background: url("../../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 619px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 73px 0;
  }

  h1.hero-title {
    font-size: 3.5rem;
    line-height: 5rem;
    font-weight: 700;
    max-width: 937px;
    height: 160px;

    margin: 17px 0 27px 0;
    color: white;
  }

  h3.hero-title {
    margin: 0;
    height: 36px;

    font-size: 1.5rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #f6f6f6;
  }

  p.hero-text {
    margin: 0 0 54px 0;
    height: 38px;

    font-size: 1.5rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #f6f6f6;
  }

  .buttons {
    display: flex;
    flex-direction: unset;
  }
}
