.hero__title,
.hero__text,
.hero__description {
    margin-left:15px;
    margin-right:15px;
}

.hero__title {
    color:var(--grey);
    letter-spacing: 0.1px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 50px;
}

.hero__text {
    color:var(--darkblue);
    letter-spacing: 0.2px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    padding-top: 17px;
}

.hero__description {
    color:var(--grey);
    letter-spacing: 0.2px;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    padding-top: 17px;
}

.hero__button-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    margin:auto;
    padding-top: 40px;
}

.hero__btn-space {
    margin-bottom:17px;
}
@media only screen and (min-width:768px) { 
    .hero__title {
        font-size: 24px;
        line-height: 36px;
    }

    .hero__text {
        font-size: 58px;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 80px;
    }

    .hero__description {
        font-size: 24px;
    }

    .hero__button-container {
        flex-wrap: nowrap;
        width: 500px;
        justify-content: space-between;
    }
}

@media only screen and (min-width:1200px) {
    .hero {
        background-image: url(../../assets/HeroBg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height:619px;
    }

    .hero__title {
        padding-top:73px;
        color:var(--lightwhite);
    }

    .hero__text {
        color:var(--lightwhite);
        padding-left: 17.4%;
        padding-right: 17.4%;
        font-family:Poppins;
    }

    .hero__description {
        color:var(--lightwhite);
        font-size: 24px;
    }
}