.text-picture__container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    padding-bottom:40px;
}

.text-picture__text-container {
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 40px;
}

.text-picture__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--primary);
    letter-spacing: 0.1px;
    width: 100%;
    padding-bottom: 30px;
}

.text-picture__text {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: var(--darkblue);
    letter-spacing: 0.2px;
    width:100%;
    padding-bottom: 30px;
}

.text-picture__description {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 38px;
    color: var(--grey);
}

.text-picture__image-container {
    width:100%;
}

@media only screen and (min-width:768px) {
    .text-picture__text-container {
        width:50%;
    }
}

@media only screen and (min-width:1200px) {
    .text-picture__text-container {
        text-align:start;
        width:35%;
        margin-left:10%;
        margin-right:10%;
    }
    
    .text-picture__description {
        margin-bottom: 0px;
    }

    .text-picture__image-container {
        width:45%;
    }
    
    .text-picture__right-side {
        order:1;
    }

    .text-picture__left-side {
        order:2;
    }
}