.instructions__container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.instructions__h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
    letter-spacing: 0.1px;
    margin-bottom: 40px;
    width: 100%;
}

.instructions__h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    letter-spacing: 0.2px;
    width:80%;
    margin-bottom: 50px;
}

.instructions__h4 {
    margin-bottom: 40px;
    width: 65%;
}

.instructions__image {
    margin-bottom: 80px;
}

.instructions__text {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

@media only screen and (min-width:1200px) {
    .instructions__order1 {
        order:1;
    }

    .instructions__order2 {
        order:2;
    }

    .instructions__order3 {
        order:3;
    }

    .instructions__order4 {
        order:4;
    }

    .instructions__order5 {
        order:5;
    }

    .instructions__order6 {
        order:6;
    }

    .instructions__image-container {
        width:45%;
    }

    .instructions__text {
        text-align: center;
        width:45%;
    }

    .instructions__h3 {
        margin-top: 150px;
        margin-bottom: 17px;
    }
    
    .instructions__h2 {
        margin-bottom: 27px;
    }
    
    .instructions__h4 {
        margin-bottom: 0px;
    }
}