.comment-card {
  font-size: 18px;
  padding: 20px;
  border: 2px solid var(--black);
  border-radius: 4px;
}

.comment-card__name {
  font-weight: bold;
  margin-bottom: 10px;
}

.comment-card__text {
  font-family: sans-serif;
}

.comment-card__email {
  font-style: italic;
}
