@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@600&display=swap");

.image-text-container {
  display: flex;
  align-items: center;
}

.image-text-container.right {
  flex-direction: row-reverse;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  height: 600px;
  padding: 0px 10 0 10;
}

.text-container {
  flex: 1;
  margin: 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.text-container h1 {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #fa4a0c;
}

.text-container h2 {
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.text-container h3 {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media only screen and (max-width: 768px) {
  .image-text-container,
  .image-text-container.right {
    display: flex;
    flex-direction: column-reverse;
  }

  .text-container h1 {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #fa4a0c;
    text-align: center;
  }

  .text-container h2 {
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 50px;
  }

  .text-container h3 {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    text-align: center;
    margin-top: 50px;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    margin-top: -60px;
  }
}

@media only screen and (max-width: 768px) {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
